<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="flex-grow">
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8 prose">
        <h1 class="text-3xl text-black" >Privacy Policy : </h1>
        <br>
        <p>This is a placeholder for your Privacy Policy. A privacy policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
    </div>
</main>
    
<%- include('partials/footer') %>